@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<div class="row">
    <div class="col-1">
        <button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
    </div>
    <div class="col-2">
        <input class="form-control" @bind="currentCount" />
    </div>
</div>



@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
